
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: pink;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.mve fotos {
  font-size: 20%;
  font-family:fantasy;
  color: pink;
}

.fundo album {
  background-color: pink;
}