/*
 * Nav
 */

.nav-masthead .nav-link {
  color: rgb(255, 255, 255);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.767);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

/*
 * Nav
 */

/* Body */

body {
  margin: auto;
}

.experiencia {
  top: 50%;
  right: 35%;
}

.experiencia1 {
  top: 50%;
  right: 25%;
}

.dados {
  top: 50%;
  right: 10%;
}

.eventos {
  top: 50%;
  right: 25%;
}

.text {
  font-family: "Arial Bold", Arial;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff !important;
}

h2 {
  color: rgb(0, 0, 0);
}

.waves {
  background-image: url(imagem/Blumenau-capa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: beige;
  text-align: center;
  margin: 0;
}

.waves svg {
  display: block;
}

.checkbox {
  text-align: justify;
  margin-left: 1%;
}

.featurette-divider {
  margin: 5rem 0;
  /* Deixa o <hr> melhor separado */
}

hr {
  width: 70%;
  height: 1px;
  border: 1px;
  margin: auto;
}

.other {
  background-color: rgba(223, 223, 223, 0.6);
  border-radius: 40px;
}

.li {
  list-style: none;
  list-style-image: url(imagem/geo-alt-fill.svg);
}

.li1 {
  list-style: none;
  list-style-image: url(imagem/tag-fill.svg);
}

.li2 {
  list-style: none;
  list-style-image: url(imagem/calendar3.svg);
}

.li3 {
  list-style: none;
  list-style-image: url(imagem/person-fill.svg);
}

.li4 {
  list-style: none;
  list-style-image: url(imagem/send-fill.svg);
}

.li5 {
  list-style: none;
}

.li6 {
  list-style: none;
  list-style-image: url(imagem/telephone.svg);
}

aside {
  padding: 20px;
  width: 40%;
  height: 90%;
  float: right;
}

img {
  border-radius: 3%;
}

/* Body */

/* CSS CARROSSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}